@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700;900&display=swap');
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
a,
div {
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    overflow-x: hidden;
}

//基礎外觀調整
::selection {
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
    width: 8px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #000;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(34, 34, 34);
}