@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700;900&display=swap");
@font-face {
    font-family: HelveticaND;
    src: url("~assets/font/Monotype\ \ -\ Helvetica\ Now\ Display.otf") format("opentype"), url("~assets/font/Monotype\ \ -\ Helvetica\ Now\ Display\ Black.otf") format("opentype"), url("~assets/font/Monotype\ \ -\ Helvetica\ Now\ Display\ Bold.otf") format("opentype"), url("~assets/font/Monotype\ \ -\ Helvetica\ Now\ Display\ Hairline.otf") format("opentype"), url("~assets/font/Monotype\ \ -\ Helvetica\ Now\ Display\ Light.otf") format("opentype"), url("~assets/font/Monotype\ \ -\ Helvetica\ Now\ Display\ Medium.otf") format("opentype"), url("~assets/font/Monotype\ \ -\ Helvetica\ Now\ Display\ Thin.otf") format("opentype"), url("~assets/font/Monotype\ \ -\ Helvetica\ Now\ Display\ XBlack.otf") format("opentype"), url("~assets/font/Monotype\ \ -\ Helvetica\ Now\ Display\ XBold.otf") format("opentype"), url("~assets/font/Monotype\ \ -\ Helvetica\ Now\ Display\ XLight.otf") format("opentype");
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
a,
div {
    font-family: "HelveticaND", "Noto Sans TC";
}

html,
body {
    overflow-x: hidden;
}

//基礎外觀調整
::selection {
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #000;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(34, 34, 34);
}